*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(227, 255, 255);
    height: 100vh;
}

.flex{
    display: flex;

}

.flex2{
    display: flex;

}


.limite{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    padding: 0px 4%;
    background-color: rgb(89, 147, 253);
}

header > .limite{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
    border: solid ;
}

section.topo-do-site .flex2{
    align-items: center;
    justify-content: center;
    gap: 80px;
    border: solid ;
    margin-top: 10px;
    height: 500px;
}


td{
    padding: 20px;
    border: solid ;
}

th{
    border: solid ;

}

.rad{

    width: 50px;
    height: 40px;
}

input{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(73, 116, 165);
    font-size: 15px;
    transition: .2s;
}

input:hover{
    background-color: rgb(24, 255, 178);
}